pbr>=4.0.0 # Apache-2.0
Paste>=2.0.2 # MIT
PasteDeploy>=1.5.0 # MIT
Routes>=2.3.1 # MIT
eventlet>=0.22.1 # MIT
WebOb>=1.8.2 # MIT
SQLAlchemy>=1.2.0 # MIT
alembic>=1.6.5 # MIT
oslo.db>=4.44.0 # Apache-2.0
oslo.context>=2.19.2 # Apache-2.0
oslo.middleware>=3.31.0 # Apache-2.0
oslo.concurrency>=3.26.0 # Apache-2.0
oslo.log>=4.3.0 # Apache-2.0
oslo.config>=3.7.0 # Apache-2.0
oslo.utils>=4.5.0 # Apache-2.0